<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>{% block title %}ManagementWebsite{% endblock title %}</title>
</head>
<body>
{% load static %}

{% include 'nav.html' %}
{% include 'searchbar.html' %}

{% include 'content.html' %}

{% include 'bottom.html' %}
{% include 'total.html' %}

</body>
</html>
<script src="/static/bootstrap/js/jquery-2.2.3.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/static/bootstrap/js/holder.min.js"></script>
