<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>{% block title %}ManagementWebsite{% endblock title %}</title>
</head>
<body>
{% load static %}

{% include 'nav.html' %}
{% include 'searchbar.html' %}


    <table class="table table-hover">
    <caption>按时间搜索的结果为以下文章</caption>
        <thead>　　　　　　　　　　　　　　　　
        <tr>　　　　
            <th><h5><b>论文标题</b></h5></th>
            <th><h5>会议</h5></th>
            <th><h5>时间</h5></th>
            <th><h5>主要内容</h5></th>
            <th><h5>输入</h5></th>
            <th><h5>输出</h5></th>
            <th><h5>技术</h5></th>
            <th><h5>数据集</h5></th>
        </tr>
        </thead>
        <tbody>　　　　　　　　　　　　　　　　　　　　　　　　　
        {% for i in paper %}
            <tr>
                <td width="10%"><font size="2">{{ i.title }}</font></td>
                <td width="5%"><font size="2">{{ i.conference }}</font></td>
                <td bgcolor="#EAFFD9" width="1%"><font size="2">{{ i.time }}</font></td>
                <td width="20%"><font size="2">{{ i.content }}</font></td>
                <td width="15%"><font size="2">{{ i.inputform }}</font></td>
                <td width="15%"><font size="2">{{ i.outputform }}</font></td>
                <td width="15%"><font size="2">{{ i.notes }}</font></td>
                <td width="8%"><font size="2">{{ i.database }}</font></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% include 'bottom.html' %}
{% include 'total.html' %}

</body>
</html>
<script src="/static/bootstrap/js/jquery-2.2.3.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/static/bootstrap/js/holder.min.js"></script>
