<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>{% block title %}ManagementWebsite{% endblock title %}</title>
</head>
<body>
{% load static %}
{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h1>Step 1  Download Document</h1>
    <hr>
    下载文档要求，<a href="/static/download/format.xlsx">点我下载表格</a>
    <h1>Step 2  Fill the form</h1>
    <hr>
    <img src="/static/images/empty.jpg">
    <p></p>
    按照表格填写内容，保存导出为csv格式
    <h1>Step 3</h1>
    <hr>
    上传您的文件
<br>
    <form enctype="multipart/form-data" action="/upload/uploadFile/" method="post">
        {% csrf_token %}
        <input type="file" name="myfile"/>
        <br/>
        <input class="btn btn-primary" type="submit" value="upload"/>
    </form>

</div>
{% include 'total.html' %}


</body>
</html>
<script src="/static/bootstrap/js/jquery-2.2.3.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/static/bootstrap/js/holder.min.js"></script>