<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>{% block title %}ManagementWebsite{% endblock title %}</title>
</head>
<body>
{% load static %}
{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<img src="/static/images/ins.png" class="img-rounded img-responsive">
<div class="container"><h4>第一步</h4>
    下载文档要求，<a href="/static/download/format.xlsx">点我下载表格</a>
    <h4>第二步</h4>
    <img src="/static/images/empty.jpg">
    <p></p>
    按照表格填写内容，保存导出为csv格式
    <h4>第三步</h4>
    上传您的文件
    <from method="post" enctype="multipart/form-data">
        {{ uf.as_p }}
        <input class="btn btn-primary" type="submit" value="ok"/>
    </from>
</div>
{% include 'total.html' %}


</body>
</html>
<script src="/static/bootstrap/js/jquery-2.2.3.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/static/bootstrap/js/holder.min.js"></script>