<link href="/static/bootstrap/js/bootstrap.js" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ManagementWebsite{% endblock title %}</title>
</head>
<body>
{% load static %}
{% include 'nav.html' %}
{% block content %}

    输入：
    <button><a href="/papers/API">API</a></button>
    <button><a href="/papers/inputcode">代码</a></button>
    <p></p>
    输出：
    <button><a href="/papers/function">函数</a></button>
    <button><a href="/papers/outputcode">代码</a></button>
    <p></p>
    时间：
    <a href="/papers/2013">2013</a>
    <a href="/papers/2014">2014</a>
    <a href="/papers/2015">2015</a>
    <a href="/papers/2016">2016</a>
    <a href="/papers/2017">2017</a>
    <a href="/papers/2018">2018</a>
    <a href="/papers/2019">2019</a>
    <p></p>
    会议：
    <button><a href="/papers/ASE">ASE</a></button>
    <form action="/papers/result/" method="post" name='keywords'>
        {% csrf_token %}
        <h5> 输入标题关键词：<input type="text" name="name"/></h5>
        <input type="submit" value="搜索"/>
    </form>
    <table class="table table-striped">
        <thead>　　　　　　　　　　　　　　　　
        <tr>　　　　
            <th><h5>论文标题</h5></th>
            <th><h5>主要内容</h5></th>
            <th><h5>输入</h5></th>
            <th><h5>输出</h5></th>
            <th><h5>技术</h5></th>
            <th><h5>数据集</h5></th>
        </tr>
        </thead>
        <tbody>　　　　　　　　　　　　　　　　　　　　　　　　　
        {% for i in paper %}
            <tr>
                <td><h6>{{ i.title }}</h6></td>
                <td><h6>{{ i.content }}</h6></td>
                <td><h6>{{ i.inputform }}</h6></td>
                <td><h6>{{ i.outputform }}</h6></td>
                <td><h6>{{ i.notes }}</h6></td>
                <td><h6>{{ i.database }}</h6></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% include 'bottom.html' %}
{% include 'total.html' %}
</body>
</html>
<script src="/static/bootstrap/js/jquery-2.2.3.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/static/bootstrap/js/holder.min.js"></script>