<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/highcharts.js"></script>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>{% block title %}ManagementWebsite{% endblock title %}</title>
</head>
<body>
{% include 'nav.html' %}
<div class="container">
    <h4>引用次数最多的文章 TOP 5</h4>
    <ul>
        <li>
            <p><a href="http://dx.doi.org/10.1145/1065010.1065018">Jungloid mining: helping to navigate the API
                jungle</a>
                (David Mandelin|Lin Xu|Rastislav Bodik|Doug Kimelman|)——353次引用</p>
        </li>

        <li>
            <p><a href="http://dx.doi.org/10.1145/1321631.1321663">Parseweb: a programmer assistant for reusing open
                source
                code on the web</a>(Suresh Thummalapenta|Tao Xie|)——311次引用</p>
        </li>
        <li>
            <p>
                <a href="http://dx.doi.org/10.1145/1062455.1062491">Using structural context to recommend source code
                    examples</a>
                (Reid Holmes|Gail C. Murphy|)——298次引用</p>
        </li>
        <li>
            <p>
                <a href="http://dx.doi.org/10.1109/32.295894">A framework for source code search using program
                    patterns</a>
                (Santanu. Paul|Atul. Prakash|)——250次引用</p>
        </li>
        <li>
            <p>
                <a href="http://dx.doi.org/10.1145/1287624.1287630">Mining API patterns as partial orders from source
                    code:
                    from usage scenarios to specifications</a>
                (Mithun Acharya|Tao Xie|Jian Pei|Jun Xu|)——205次引用</p>
        </li>
    </ul>

    <h4>代码推荐</h4>
    <ul>
        <li>
            <p>
                <a href="http://dx.doi.org/10.1145/1062455.1062491">Using structural context to recommend source code
                    examples</a>
            </p>
        </li>
    </ul>

    <ul>
        <li>
            <p>
                <a href="http://dx.doi.org/10.1145/1167473.1167508">XSnippet: mining For sample code</a>
            </p>
        </li>
    </ul>
    <h4>API推荐</h4>
    <ul>
        <li>
            <p><a href="http://dx.doi.org/10.1145/1287624.1287630">Mining API patterns as partial orders from source
                code:
                from usage scenarios to specifications</a></p>
        </li>
        <li>
            <p>
                <a href="http://dx.doi.org/10.1145/1294211.1294216">Assieme: finding and leveraging implicit references
                    in a
                    web search interface for programmers</a>
            </p>
        </li>
        <li>
            <p>
                <a href="http://dx.doi.org/10.1145/2393596.2393606">Searching connected API subgraph via text
                    phrases</a>
            </p>
        </li>
        <li>
            <p>
                <a>A classification of web API selection solutions over the linked web</a>
            </p>
        </li>
    </ul>

    <h4>代码自动生成</h4>
    <ul>
        <li>
            <p>
                <a>Synthesizing API usage examples</a>
            </p>
        </li>
        <li>
            <p>
                <a>Graph-based pattern-oriented, context-sensitive source code completion</a>
            </p>
        </li>
        <li>
            <p>
                <a>GraPacc: A graph-based pattern-oriented, context-sensitive code completion tool</a>
            </p>
        </li>
    </ul>
</div>
<script src="/static/bootstrap/js/jquery-2.2.3.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/static/bootstrap/js/holder.min.js"></script>
</body>
</html>